.advertise 
{
    font-family: sans-serif !important;
    font-size: 20px !important;
    background-color: #12b5ea;
}
.text-size
{
    font-size: 26px;
    font-weight: 700;
}
.intro
{
    font-size: 18px;
    font-weight: bolder;
    font-family: sans-serif;
}
@media only screen and (max-width: 600px) {
  .text-size
    {
        margin-right: 29px;
        padding-left: 0 !important;
        margin-left: 0 !important;
        border: none !important;     
        margin-bottom: 8px;
    }
  }